{% extends "base_for_about.html" %}
{% block title %}About{% endblock %}
{% block content %}
<link href="../static/css/about.css" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap" rel="stylesheet">
<div class="about_name">
    <h1>About us</h1>
</div><br>
<div class="container">
    <h2>A little bit about our team</h2>
    <p></p>
    <p class="about_p">We, a team of three people, are working on creating a beautiful website,
        helping potential employees to get a job easier, thanks to high-quality and beautiful,
        and most importantly, it does not require a lot of time and effort to create a resume</p>
</div><br><br>
<img class="picture_maslom" src="../static/img/picture_maslom(about).jpg">
<div class="container">
    <h2>What is JobReady</h2><br>
    <p class="about_p">It seems to us that every person looking for a job has faced problems when creating their questionnaire for an employer</p>
    <p class="about_p">Job Ready is a platform that has at the same time a simple interface, a beautiful design and a large number of technologies
        that help in creating a resume</p><br>
    <h2>More about JobReady</h2><br>
    <p class="about_p">As already mentioned, this site was created to create presentable and informative resumes. The most important thing is that
        includes our application, so these are resume TEMPLATES. That is, everything has already been done for you and you just need to enter
        add your data to the template you like. This thing speeds up the whole process of getting to work many times</p>
</div>
<p style="text-align: center;"><a href="/">На главную</a></p>
{% endblock %}
