{% extends "base_for_about.html" %}
{% block title %}About{% endblock %}
{% block content %}
<link href="../static/css/about.css" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap" rel="stylesheet">
<div class="container">
    <div class="header">
        <h1>About us</h1>
    </div>
    <h2>Немного о нашей команде</h2>
    <p>Мы, команда из трех человек, работаем над созданием прекрасного сайта,
        помогающего потенциальным работникам легче получить работу, благодаря качественному и красивому,
        а главное не требующему на создание много времени и сил, резюме</p>
</div>
<img class="picture_maslom" src="../static/img/picture_maslom(about).jpg">
<div class="container">
    <h2>Что есть JobReady</h2>
    <p>Мы думаем, что каждый человек, ищущий работу, сталкивался с проблемами при создании своей анкеты для работодателя</p>
    <p>JobReady - это платформа, которая имеет одновременно простой интерфейс, красивый дизайн и большое количество технологий
        помогающих в создании резюме</p>
    <h3>Подробнее о JobReady</h3>
    <p>Как уже было сказано, этот сайт был создан для создания презентабельных и содержательных резюме. Самое главное, что
        включает в себя наш сайт, так это ШАБЛОНЫ резюме. То есть, все уже сделано за вас, и вам нужно лишь вписать
        свои данные в понравившийся шаблон. Эта вещь во много раз ускоряет весь процесс создания резюме.</p>
</div>
<p style="text-align: center;"><a href="/">На главную</a></p>
{% endblock %}
