{% extends "base.html" %}
{% block title %}Help{% endblock %}
{% block content %}
<link href="../static/css/help.css" rel="stylesheet">
<div class="help_name">
    <h1>Help</h1>
</div>
<div class="container">
    <h2>Templates tab</h2>
    <p class="help_p">Probably the most interesting part of our program. In this tab you have a choice of different resume templates,
        with which you can create your
        a personalized instance of this template. That is, this tab is the main tool in our
        in the appendix, the main subject for discussion</p><br><br>
    <h2>My Resumes tab</h2><br>
    <p class="help_p">In this tab you have a list of all resumes ever created. In this tab you can also do
        whatever you want with the document, edit, delete, and so on. And the most important thing is that everything is displayed
        in a beautiful plate, so that it is more convenient for you to manipulate everything</p><br><br>
    <h2>Help tab</h2><br>
    <p class="help_p">Needs no introduction:)</p><br><br>
    <h2>The Logout button and something else...</h2><br>
    <p class="help_p">Logout is designed to log out of your account and go to the home screen.
        However, the window with your nickname is of interest here, when you click on it, you go to edit
        your profile. You can upload photos, write about yourself. We have tried our best to ensure that you
        it was comfortable.</p>
</div>
{% endblock %}
