<!DOCTYPE html>
<html lang="en">
<head>
    <title>Registration</title>

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/registration.css">
    <style>
    </style>
</head>
<body>
    <div class="background">
        <div class="shape"></div>
        <div class="shape"></div>
    </div>
    <form method="POST">
        <h3>Registration</h3>

        <label for="email">Email</label>
        <input type="email" placeholder="job@ready.com" id="email">

        <label for="password">Password</label>
        <input type="password" placeholder="Password" id="password">
        <label for="password_confirm">Password Confirm</label>
        <input type="password" placeholder="Password Confirm" id="password_confirm">
        <label for="username">Username</label>
        <input type="text" placeholder="Username" id="username">

        <button>Log In</button>
    </form>
</body>
</html>
