{% extends 'base.html' %}

{% block title %}Templates{% endblock %}

{% block content %}

<div class="container">
  <div class="row">
    {% for template in templates_list %}
    <div class="col-md-4">
      <div class="card m-3" style="width: 18rem;">
        <img class="card-img-top" src="{{ template.preview }}" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">{{ template.template_name }}</h5>
          <a href="{{ url_for('create_resume', template_id=template.id) }}" class="btn btn-primary">Create resume</a>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}
